body {
  width: 40%;
  margin: auto;
  background-color: #ffffff;
  font-size: 11pt;
  font-family: 'Open Sans', sans-serif;
}
@media screen and (max-width: 600px) { 
  body {
    width: 98%;
    margin: auto;
    background-color: #ffffff;
    font-size: 11pt;
    font-family: 'Open Sans', sans-serif;
  }
}

header {
  margin-top: 4%;
}

/* navigation ------------------------------------------------------------------------------- */
nav {
  margin-left: 0.5%;
  font-family: 'Cutive Mono', monospace;
  color: #ababab;
}
nav > a:link {
  color: #ababab;
  text-decoration: none;
}
nav > a:visited {
  color: #ababab;
  text-decoration: none;
}
nav > a:hover {
  color: black;
  text-decoration: none;
  font-weight: 600;
}
nav > a:active {
  color: black;
  text-decoration: none;
  font-weight: 600;
}


/* container for page content --------------------------------------------------------------- */
.container {
  margin-top: 5%;
  margin-bottom: 5%;
}

/* titles ----------------------------------------------------------------------------------- */
h1 {
  font-size: 14pt;
  font-weight: 700;
  color: #020461;
}
h2 {
  font-size: 12pt;
  font-weight: 700;
  margin: 0%;
  color: black;
}
h3 {
  font-size: 10pt;
  font-weight: 700;
  color: black;
}


/* */
.post_list {
  list-style-type: none;
  margin-left: 0.75%;
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 0;
}
.post_list .post_date {
  font-family: 'Cutive Mono', monospace;
  color: #ababab;
  font-size: 10pt;
}
.post_list a:link {
  color: black;
  text-decoration: none;
}
.post_list a:visited {
  color: black;
  text-decoration: none;
}
.post_list a:hover {
  color: black;
  text-decoration: none;
  font-weight: 600;
}
.post_list a:active {
  color: black;
  text-decoration: none;
  font-weight: 600;
}

/* album list ------------------------------------------------------------------------------ */
.album_list {                   /* might just put all those as post list*/
  list-style-type: none;
  margin-left: 0.75%;
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 0;
}
.album_list a:link {
  color: black;
  text-decoration: none;
}
.album_list a:visited {
  color: black;
  text-decoration: none;
}
.album_list a:hover {
  color: black;
  text-decoration: none;
  font-weight: 600;
}
.album_list a:active {
  color: black;
  text-decoration: none;
  font-weight: 600;
}

/* display of posts ------------------------------------------------------------------------ */
.post_meta .post_date {
  font-family: 'Cutive Mono', monospace;
  color: #ababab;
  font-size: 10pt;
  margin-top: 0.5%;
  margin-left: 0%;
}
.post_meta .post_title {
  margin-bottom: 0;
}
.post_content {
  text-align: justify;
}
/* titles inside a blog post (translated from .md) ----------------------------------------- */
.post_content h1 {
  font-size: 12pt;
  font-weight: 700;
  color: black;
}
.post_content h2 {
  font-size: 12pt;
  font-weight: 700;
  color: black;
}
.post_content h3 {
  font-size: 10pt;
  font-weight: 700;
  color: black;
}
/*.post_content h3::before{
  content: "- ";
}*/
.post_content ul {
  list-style-type: disc;
}

/* footer ---------------------------------------------------------------------------------- */ 
footer {
  margin-top: 5%;
  font-size: 8pt;
}