/* body of the site -------------------------------------------------------------------------- */
body {
  width: 40%;
  margin: auto;
  background-color: #ffffff;
  font-size: 11pt;
  font-family: 'Open Sans', sans-serif;
  display: block;
}
@media screen and (max-width: 600px) { 
  body {
    width: 97%;
    margin: auto;
    background-color: #ffffff;
    font-size: 11pt;
    font-family: 'Open Sans', sans-serif;
    display: block;
  }
}

/* images ------- */

img {
  max-width: 80%;
  max-height: 75vh;
}
.img_post {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (max-width: 600px) { 
  img {
    max-width: 100%;
    max-height: 75vh;
  }
  .img_post {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
}

/* header and navigation -------------------------------------------------------------------- */
header {
  margin-top: 4%;
}
nav {
  margin-left: 0.5%;
  font-family: 'Cutive Mono', monospace;
  color: #ababab;
}
nav > a:link {
  color: #ababab;
  text-decoration: none;
}
nav > a:visited {
  color: #ababab;
  text-decoration: none;
}
nav > a:hover {
  color: black;
  text-decoration: none;
  font-weight: 600;
}
nav > a:active {
  color: black;
  text-decoration: none;
  font-weight: 600;
}
/* container for page content (between nav and footer) -------------------------------------- */
.container {
  margin-top: 5%;
  margin-bottom: 5%;
}

/* titles ----------------------------------------------------------------------------------- */
h1 {
  font-size: 14pt;
  font-weight: 700;
  color: #020461;
}
h2 {
  font-size: 12pt;
  font-weight: 700;
  color: black;
}
h3 {
  font-size: 10pt;
  font-weight: 700;
  color: black;
}
/* about section */
.about {
  text-align: justify;
}


/* */
.post_list {
  list-style-type: none;
  margin-left: 0.75%;
  margin-top: 0%;
  margin-bottom: 0%;
  padding: 0;
}
.post_date {
  font-family: 'Cutive Mono', monospace;
  color: #ababab;
  font-size: 10pt;
}
.post_list a:link {
  color: black;
  text-decoration: none;
}
.post_list a:visited {
  color: black;
  text-decoration: none;
}
.post_list a:hover {
  color: black;
  text-decoration: none;
  font-weight: 600;
}
.post_list a:active {
  color: black;
  text-decoration: none;
  font-weight: 600;
}

/* album list ------------------------------------------------------------------------------ */
.album_list {                   /* might just put all those as post list*/
  list-style-type: none;
  margin-left: 0.75%;
  margin-top: 0%;
  margin-bottom: 0%;
  padding: 0;
}
.album_list a:link {
  color: black;
  text-decoration: none;
}
.album_list a:visited {
  color: black;
  text-decoration: none;
}
.album_list a:hover {
  color: black;
  text-decoration: none;
  font-weight: 600;
}
.album_list a:active {
  color: black;
  text-decoration: none;
  font-weight: 600;
}

/* display of posts ------------------------------------------------------------------------ */
.post_meta .post_title {
  margin-bottom: 0;
}
.post_meta .post_date {
  font-family: 'Cutive Mono', monospace;
  color: #ababab;
  font-size: 10pt;
  margin-top: 0.5%;
  margin-left: 0%;
}
.post_content {
  text-align: justify;
}
/* titles inside a blog post (translated from .md) */
.post_content h1 {
  font-size: 12pt;
  font-weight: 700;
  color: black;
}
.post_content h2 {
  font-size: 12pt;
  font-weight: 700;
  color: black;
}
.post_content h3 {
  font-size: 10pt;
  font-weight: 700;
  color: black;
}
.post_content h4 {
  font-size: 10pt;
  font-weight: 700;
  color: black;
}
.post_content ul {
  list-style-type: disc;
}

/* other languages */

.chinese {
  font-family: 'Noto Sans SC', sans-serif;
  font-weight: 400;
}

/* footer ---------------------------------------------------------------------------------- */ 
footer {
  margin-top: 5%;
  font-size: 8pt;
}