---
layout: default
title: Matthieu Rimlinger
nbr_posts: 10
no_margin: false
---

<h2>Welcome</h2>
<div class="about">
	<p> 	
		Hello, I'm Matthieu! <br>
		I am currently on an eastbound cycling journey (<a class="post_list" href="https://www.mrimlinger.ch/map.html" target="_self">map</a>). <br>
		Contact: rimmatt98@ &#60 the email service offered by Google &#62
	</p>
</div>

<h2>Latest posts</h2>
<ul class="post_list">
  {% assign count = 0 %}
  {% for post in site.posts %}
    {% unless post.tags contains "album" or count >= page.nbr_posts%}
      <li>
        <span class="post_date">{{ post.date | date_to_string }} >> </span>
        <a href="{{ post.url }}">{{ post.title }}</a>
      </li>
      {% assign count = count | plus: 1 %}
    {% endunless %}
  {% endfor %}
</ul>

<h2>Gallery</h2>
<ul class="album_list">
  {% for post in site.posts %}
    {% if post.tags contains "album" %}
      <li>
        {% assign date_arr = post.date | date_to_string | split: " " %}
        <span class="post_date">{{ date_arr[1] }} {{ date_arr[2] }} >> {{post.nbr}} - </span>
        <a href="{{ post.url }}">{{ post.title }}</a>
      </li>
    {% endif %}
	{% endfor %}
</ul>
