<style>
  .image-gallery {overflow: hidden; margin-left: 0%!important;
                  list-style-type: none; padding: 0;}
  .image-gallery li {position: relative; float: left; display: block; 
                     margin: 0%; margin-right: 1%; margin-top: 1%;
                     width: 19%; padding-top: 19%; /* ensure square format of container */
                     background-color: #dddddd;}
  @media screen and (max-width: 600px) { 
    .image-gallery li {position: relative; float: left; display: block; 
                      margin: 0%; margin-right: 1%; margin-top: 1%;
                      width: 32.3%; padding-top: 32.3%; /* ensure square format of container */
                      background-color: #dddddd;}
  }
  /*.image-gallery li a {text-align: center; text-decoration: none!important; color: #777;}*/
  /*.image-gallery li a span {display: block; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; padding: 3px 0;}*/
  .image-gallery li a img {position: absolute; 
                           top: 50%; left: 50%; 
                           max-height: 100%; max-width: 100%;
                           transform: translate(-50%, -50%);
                           display: block;}
  /*--------------------------------------------------------------------------------------*/
  /* full display of images */
  .dark_background {
    position: fixed; background-color: rgba(0, 0, 0, 1);
    top: 0; bottom: 0; left: 0; right: 0;
  }
  .full_img {
    position: relative;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    max-width: 40vw;
    max-height: 40vw;
    opacity: 100%;
  }
  .close_button {
    position: absolute;
    top: 2%; right: 2%;
    font-family: 'Open Sans', sans-serif;
    color: #ababab;
    font-size: 14pt;
    font-weight: 600;
    border: none;
    outline:none;
    background-color: rgba(0,0,0,0);
    text-decoration: none;
    cursor: pointer;
  }
  @media screen and (max-width: 600px) {
    .dark_background {
      position: fixed; background-color: rgba(0, 0, 0, 1);
      top: -50%; bottom: -50%; left: -50%; right: -50%; /* extra coverage */
    }
    .full_img {
      position: relative;
      top: 50%; left: 50%;
      transform: translate(-50%, -50%);
      max-width: 99vw;
      max-height: 99vw;
      opacity: 100%;
    }
    .close_button {
      position: absolute;
      top: 26%; right: 26%;
      width: 12vw; height: 12vw;
      text-align: center; 
      font-family: 'Open Sans', sans-serif;
      color: #ababab;
      font-size: 14pt;
      font-weight: 600;
      border: none;
      outline:none;
      background-color: rgba(0, 0, 0, 0);
      text-decoration: none;
      cursor: pointer;
    }
  }
</style>

<script>
  function Album() {
    this.pics = new Array();
    this.curr_pic = -1;
  }
  /* global variables to handle swipe event*/
  var startX, startY, dist, threshold = 50, allowedTime = 1000, elapsedTime, startTime;
  /* --- */
  function Disp(path, nbr) {
    console.log("initial nbr assignment: ", nbr);
    album.curr_pic = nbr;
    var body = document.getElementById("body");
    /* hide main site and set it to black */
    document.getElementById("wrapper").style.display = "none";
    body.style.backgroundColor = "black";
    /* dark background */
    var background = document.createElement("div");
    background.id = "background";
    background.className = "dark_background";
    body.appendChild(background);
    /* picture */
    var pic = document.createElement("img");
    pic.src = path;
    pic.id = "pic";
    pic.className = "full_img";
    background.appendChild(pic);
    /* close button */
    var close = document.createElement("button");
    var close_txtNode = document.createTextNode("x");
    close.appendChild(close_txtNode);
    close.setAttribute( "onclick", "javascript: Escape();" );
    close.className = "close_button";
    background.appendChild(close);
    /* prev & next & esc events */
    document.addEventListener("keyup", KeyHandle);
    document.addEventListener('touchstart', TouchHandleStart, false);
    document.addEventListener('touchend', TouchHandleEnd, false);
  }
  function KeyHandle(data) {
      if (data.keyCode == 39) {
        console.log("next");
        Next();
      }
      else if (data.keyCode == 37) {
        console.log("prev");
        Prev();
      }
      else if (data.keyCode == 27) {
        console.log("esc");
        Escape();
      }
    }
  function Next() {
    var len = album.pics.length;
    var nbr = album.curr_pic;
    if (nbr<len-1) {
      nbr += 1; album.curr_pic += 1;
      var pic = document.getElementById("pic");
      pic.src = album.pics[nbr];
    }
    else {
      console.log("escape caled");
      Escape();
    }
  }
  function Prev() {
    var len = album.pics.length;
    var nbr = album.curr_pic;
    if (nbr>0) {
      nbr += -1; album.curr_pic += -1;
      var pic = document.getElementById("pic");
      pic.src = album.pics[nbr];
    }
    else {
      console.log("escape caled");
      Escape();
    }
  }
  function Escape() {
    album.curr_pic = -1;
    var body = document.getElementById("body");
    var background = document.getElementById("background");
    body.removeChild(background);
    /* remove eventlistener on keyboard and touchscreen */
    document.removeEventListener("keyup", KeyHandle);
    document.removeEventListener("touchstart", TouchHandleStart);
    document.removeEventListener("touchend", TouchHandleEnd);
    /* re display main content*/
    document.getElementById("wrapper").style.display = "block";
    body.style.backgroundColor = "white";
  }
  function TouchHandleStart(e) {
    var touchobj = e.changedTouches[0];
    dist = 0;
    startX = touchobj.pageX;
    startY = touchobj.pageY;
    startTime = new Date().getTime(); // record time when finger first makes contact with surface
  }
  function TouchHandleEnd(e) {
    var touchobj = e.changedTouches[0]
    dist = touchobj.pageX - startX // get total dist traveled by finger while in contact with surface
    elapsedTime = new Date().getTime() - startTime // get time elapsed
    // check that elapsed time is within specified, horizontal dist traveled >= threshold, and vertical dist traveled <= 100
    if (elapsedTime <= allowedTime) {
      if (dist >= threshold && Math.abs(touchobj.pageY - startY) <= 100) {
        Prev();
      }
      else if (dist <= -threshold && Math.abs(touchobj.pageY - startY) <= 100) {
        Next();
      }
    }
  }
</script>



<ul class="image-gallery">
  <script> var album = new Album(); </script>
  {% assign cnt = 0 %}
  {% for file in site.static_files %}
    {% if file.path contains include.folder %}
      {% if file.extname == '.jpg' or 
            file.extname == '.jpeg' or 
            file.extname == '.JPG' or 
            file.extname == '.JPEG' %}
        <script> album.pics.push("{{site.url}}{{ file.path | relative_url }}");</script>
        <li>
          {% assign call = "Disp('" | append: file.path | append: "'," | append: cnt | append: ")" %}
          {{site.url}}
          {{file.path}}
          <a onclick="{{ call }}">
            <img src="{{file.path}}" alt="{{ filename }}" title="{{ filename }}" />
            <!--<span>{{ filename }}</span>-->
          </a>
        </li>
        {% assign cnt = cnt | plus: 1 %}
      {% endif %}
    {% endif %}
  {% endfor %}
</ul>

<script>

</script>