<!DOCTYPE html>
	<html id="html">
		<head>
			<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
      			<link rel="stylesheet" type="text/css" href="/css/main.css">
			{% if page.no_margin %}
				<style>
				body {
					width: 97%;
				}
				</style>
			{% else %}
			{% endif %}
		<!-- enable javascript -->
      			<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.js"></script>
      		<!-- fonts -->
      			<link href="https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap" rel="stylesheet">
      			<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap" rel="stylesheet">  
      			<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@400;500;700;900&display=swap" rel="stylesheet">
      		<!-- favicons -->
      			<link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png">
      			<link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
      			<link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
      			<link rel="manifest" href="/favicons/site.webmanifest">
      			<link rel="mask-icon" href="/favicons/safari-pinned-tab.svg" color="#5bbad5">
      			<link rel="shortcut icon" href="/favicons/favicon.ico">
      			<meta name="msapplication-TileColor" content="#da532c">
      			<meta name="msapplication-config" content="/favicons/browserconfig.xml">
      		<!-- screen info -->
      			<meta name="viewport" content="width=device-width, initial-scale=1">
    	</head>
		<body id="body">
			<div id="wrapper">
				<header>
					<h1>Matthieu Rimlinger</h1>
				</header>
				<nav>
					<a href="/">Home</a> -
					<a href="/cv/cv_blog_2025.pdf">CV</a> - 
					<a href="/blog/blog.html">Blog</a>
					<!-- -
					<a href="/gallery/gallery.html">Gallery</a>
					-->
				</nav>
				
					<div class="container">
						{{ content }}
			</div><!-- /.container -->
		
				<footer>
					<p>Copyright © <a id="year"></a> Matthieu Rimlinger</p> 
				</footer>
		</body>
    </div>

		<script>
		$(document).ready();
		n =  new Date();
		document.getElementById("year").innerHTML = n.getFullYear();;
		</script>

	</html>
